[Unit]
Description=Battery Level Notification

[Service]
ExecStart=/home/phantomwise/.local/bin/scripts/dunst/battery-alert.sh
ExecStartPost=/bin/systemctl --user start battery-alert.service
